- name: Ensure required packages
  ansible.builtin.package:
    name:
      - systemd-timesyncd
      - rsyslog
    state: present

- name: Enable and launch systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd
    enabled: true
    state: started

- name: Set the time zone
  ansible.builtin.timezone:
    name: Europe/Moscow

- name: Force time synchronization
  ansible.builtin.command: timedatectl set-ntp true
  changed_when: false

- name: Скопировать скрипт
  ansible.builtin.copy:
    src: files/logging.sh
    dest: "/etc/profile.d/logging.sh"
    mode: '0755'

- name: Скопировать motd
  ansible.builtin.copy:
    src: files/motd.sh
    dest: "/etc/update-motd.d/10-netbox-status"
    mode: '0755'

- name: Delete motd
  ansible.builtin.file:
    path: "/etc/motd"
    state: absent

- name: Make link motd
  ansible.builtin.command:
    cmd: "ln -s /var/run/motd /etc/motd"

- name: Check the availability of the host (ICMP)
  ansible.builtin.command: ping -c 1 -W 1 {{ logging_remote_host }}
  delegate_to: localhost
  register: logging_ping_result
  changed_when: false
  failed_when: false

- name: Copy rules
  when: logging_ping_result.rc == 0
  block:
    - name: Copy paste.sh
      ansible.builtin.template:
        src: paste.sh.j2
        dest: "/root/paste.sh"
        mode: '0755'

    - name: Copy rule
      ansible.builtin.template:
        src: 90-remote-logging.conf.j2
        dest: "/etc/rsyslog.d/90-remote-logging.conf"
        mode: '0644'
      notify: Restart rsyslog

- name: Delete a previously added block bash_profile
  ansible.builtin.blockinfile:
    path: "{{ logging_bash_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    state: absent

- name: Add a block of lines to the end of the file bash_profile
  ansible.builtin.blockinfile:
    path: "{{ logging_bash_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
        function parse_git_branch {
            git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/'
        }

        case "$TERM" in
            screen|*xterm|*xterm-new|*xterm-color|*-256color) color_prompt=yes;;
        esac

        # uncomment for a colored prompt, if the terminal has the capability; turned
        # off by default to not distract the ansible.builtin.user: the focus in a terminal window
        # should be on the output of commands, not on the prompt
        #force_color_prompt=yes

        if [ -n "$force_color_prompt" ]; then
            if [ -x /usr/bin/tput ] && tput setaf 1 >&/dev/null; then
            color_prompt=yes
            else
            color_prompt=
            fi
        fi

        if [ "$color_prompt" = yes ]; then
           if [ "$(id -u)" -eq 0 ]; then
              PS1='\
        ${debian_chroot:+($debian_chroot)}\[\033[01;31m\]\u@\h\[\033[00m\]:\
        \[\033[01;34m\]\W\[\033[00m\]\
        \[\033[0;33m\]$(parse_git_branch)\[\033[00m\]\
        \$ '
           else
              PS1='\
        ${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]\
        :\
        \[\033[01;34m\]\W\[\033[00m\]\
        \[\033[0;33m\]$(parse_git_branch)\[\033[00m\]\
        \$ '
           fi
        else
            PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w$(parse_git_branch)\$ '
        fi
        unset color_prompt force_color_prompt

- name: Delete a previously added block root_profile
  ansible.builtin.blockinfile:
    path: "{{ logging_root_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    state: absent

- name: Add a block of lines to the end of the file root_profile
  ansible.builtin.blockinfile:
    path: "{{ logging_root_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
        if [ -f /etc/profile ]; then
          . /etc/profile
        fi
