[Unit]
Description=Prometheus Monitoring
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target systemd-time-wait-sync.service
After=network-online.target systemd-time-wait-sync.service time-sync.target

[Service]
User=prometheus
Group=prometheus
Type=simple
Restart=on-failure
ExecStartPre=/usr/local/bin/wait-for-time-sync.sh
ExecStart={{ prometheus_binary_path }} \
  --config.file={{ prometheus_work_path }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_data_path }}/ \
  --web.enable-remote-write-receiver

[Install]
WantedBy=multi-user.target
