- name: Ensure APT cache is updated
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install base packages
  ansible.builtin.apt:
    name: "{{ netbox_packages }}"
    state: present

- name: Create netbox group
  ansible.builtin.group:
    name: "{{ netbox_group }}"
    system: true

- name: Create netbox user
  ansible.builtin.user:
    name: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    shell: "{{ netbox_system_user_shell }}"
    system: true
    create_home: false

# проверяем подключение к базе
- name: Check PostgreSQL connection
  community.postgresql.postgresql_ping:
    login_host: "{{ vip_address }}"
    login_port: "{{ postgres_port }}"
    login_user: "{{ pg_superuser }}"
    login_password: "{{ pg_superuser_password }}"
    login_db: "postgres"
  register: netbox_pg_ping_check
  until: netbox_pg_ping_check is succeeded
  retries: 5
  delay: 3
  ignore_errors: true
  run_once: true
  delegate_to: "{{ groups['netbox'][0] }}"

- name: Create DB
  become: true
  become_user: postgres
  run_once: true
  delegate_to: "{{ groups['netbox'][0] }}"
  when:
    - netbox_pg_ping_check.is_available
  block:
    - name: Create DB user
      community.postgresql.postgresql_user:
        name: "{{ netbox_db_user }}"
        password: "{{ netbox_db_password }}"
        state: present
        login_host: "{{ vip_address }}"
        login_user: postgres
        login_password: "{{ pg_superuser_password }}"

    - name: Create DB
      community.postgresql.postgresql_db:
        name: "{{ netbox_db_name }}"
        owner: "{{ netbox_db_user }}"
        state: present
        login_host: "{{ vip_address }}"
        login_user: postgres
        login_password: "{{ pg_superuser_password }}"

# TODO плохой таск нужно что-то вроде "redis-cli -h 172.16.0.196 -p 6379 -a 'UEOt2+BJso.,' ROLE"
- name: Ensure Redis is started
  ansible.builtin.service:
    name: redis-server
    state: started
    enabled: true

- name: Create base dir
  ansible.builtin.file:
    path: "{{ netbox_base_dir }}"
    state: directory
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    mode: "0755"

- name: Gather services
  ansible.builtin.service_facts:

- name: Install NetBox from git or archive
  ansible.builtin.include_tasks: "netbox_{{ netbox_install_method }}.yml"
  when:
    - "'netbox.service' not in ansible_facts.services"

# TODO нужно проверять, что все плагины на месте
- name: Create plugins dir
  ansible.builtin.file:
    path: "{{ netbox_plugins_dir }}"
    state: directory
    owner: "{{ netbox_user }}"
    group: "{{ netbox_group }}"
    mode: "0755"

- name: Скопировать шаблон скрипта синхронизации
  ansible.builtin.template:
    src: netbox_sync.sh.j2
    dest: "/usr/local/bin/netbox_sync.sh"
    mode: '0755'

- name: Ensure /root/.ssh exists
  ansible.builtin.file:
    path: /root/.ssh
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Generate root SSH keypair (ed25519) if missing
  community.crypto.openssh_keypair:
    path: /root/.ssh/id_ed25519
    type: ed25519
    owner: root
    group: root
    mode: "0600"
    comment: "{{ inventory_hostname }}"
  register: netbox_keypair

- name: Read public key
  ansible.builtin.slurp:
    src: /root/.ssh/id_ed25519.pub
  register: netbox_root_pub

- name: Save public key into hostvars
  ansible.builtin.set_fact:
    netbox_root_pubkey: "{{ netbox_root_pub.content | b64decode | trim }}"

- name: Authorize root keys from all netbox nodes
  ansible.posix.authorized_key:
    user: root
    key: "{{ hostvars[item].netbox_root_pubkey }}"
    state: present
    manage_dir: false
  loop: "{{ groups['netbox'] }}"

- name: Create systemd service for haproxy_exporter
  ansible.builtin.copy:
    dest: /etc/crontab
    mode: "0644"
    content: |
      SHELL=/bin/sh
      PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      # Example of job definition:
      # .---------------- minute (0 - 59)
      # |  .------------- hour (0 - 23)
      # |  |  .---------- day of month (1 - 31)
      # |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
      # |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
      # |  |  |  |  |
      # *  *  *  *  * user-name command to be executed
      17 *    * * *   root    cd / && run-parts --report /etc/cron.hourly
      25 6    * * *   root    test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.daily; }
      47 6    * * 7   root    test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.weekly; }
      52 6    1 * *   root    test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.monthly; }
      0  2    * * *   root    /bin/bash /usr/local/bin/netbox_sync.sh

- name: Синхронизируем с продом (с таймаутом)
  ansible.builtin.shell: /usr/local/bin/netbox_sync.sh
  args:
    executable: /bin/bash
  register: netbox_sync_result
  until: netbox_sync_result.rc == 0
  retries: 5
  delay: 30
  timeout: 300                # Общий таймаут для всех попыток
  ignore_errors: true
  changed_when: netbox_sync_result.rc == 0

- name: Показать результат синхронизации
  debug:
    msg: |
      RC: {{ netbox_sync_result.rc }}
      STDOUT: {{ netbox_sync_result.stdout }}
      STDERR: {{ netbox_sync_result.stderr }}
  when: netbox_sync_result.rc != 0

- name: Starting NetBox
  when:
    - netbox_pg_ping_check.is_available
  block:
    - name: Configure NetBox
      ansible.builtin.include_tasks: configure.yml

    - name: Create systemd services
      ansible.builtin.include_tasks: systemd.yml
