- name: Gather package_facts
  ansible.builtin.package_facts:

- name: Check Angie
  ansible.builtin.set_fact:
    angie_exists: true
  when: "'angie' in ansible_facts.packages"

- name: Install Angie
  ansible.builtin.include_tasks: install.yml
  when: not (angie_exists | default(false))

- name: Configure Netbox
  ansible.builtin.include_tasks: configure-netbox.yml
  when: "'netbox' in group_names"
